@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title{
    min-width: max-content;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin: 0;
}